.app {
    display: flex;
}

.content {
    margin-left: 240px;
    padding: 20px;
}

.book-list,
.book-search,
.reading-list {
    padding: 20px;
}

.book-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.book-item {
    flex: 1 1 calc(20% - 20px);
    /* Adjust percentage to fit 4 or 5 items per row */
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
}

.book-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.zoom-effect {
    transition: transform 0.3s;
}

.zoom-effect:hover {
    transform: scale(1.1);
}

.typewriter {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}